* {
    
    padding: 0;
    margin: 0; }

    
nav, ul {

    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 30px;
    background-color: rgb(202, 199, 199);
    
    
}

nav, ul, li {

    padding-right: 1rem;
}

.logo {
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: rgb(202, 199, 199);
    
    
}

.logo-animation {

    display: flex;
    justify-content: center;
    font-family: "Kaushan Script", cursive;
    font-size: 32px;
    margin-top: 20px;
    animation-name: logo-animation;
    animation-duration: 5s;
    animation-fill-mode: both;

}

@keyframes logo-animation {

    from {
        transform: scale(1);
    }

    to{
    transform: scale(2);
}

      }


.intro {

    margin-top: 50px;
    margin-left: 40px;
    height: auto;
    width: fit-content;
    font-family: "Kaushan Script", cursive;;
    font-size: 20px;
    background-color: whitesmoke

  
}
.hero-image {

    width: auto;
    height: 100vh;
    background-image: url(..//css/images/shutterstockedit_574107949.jpg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    

}

.footer {
    display: flex;
    width: auto;
    height: 30px;
    background-color: rgb(180, 182, 181);

}




    