* {
    
    padding: 0;
    margin: 0; }

#menu {

    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    right: 0px;
    list-style: none;
    gap: 30px;
    background-color: rgb(202, 199, 199);
    
    
}



  #menu, a{

    font-family: "Kaushan Script", cursive;
    color: black;
    margin-right: 20px;
    
}

.logo {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: rgb(202, 199, 199);
    font-family: "Kaushan Script", cursive;
    font-size: 30px;
    
    
}

.logo-animation {

    display: flex;
    justify-content: center;
    font-family: "Kaushan Script", cursive;
    font-size: 32px;
    margin-top: 130px;
    animation-name: logo-animation;
    animation-duration: 5s;
    animation-fill-mode: both;

}

@keyframes logo-animation {

    from {
        transform: scale(1);
    }

    to{
    transform: scale(2);
}

      }


.intro {

    position: relative;
    top: 150px;
    height: fit-content;
    width: auto;
    font-family: "Kaushan Script", cursive;;
    font-size: 26px;
    color: white;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.877);

  
}
.hero-image {

    width: auto;
    height: 100vh;
    background-image: url(..//css/images/shutterstockedit_574107949.jpg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    
}

 .footer {

    position: fixed;
    height: 50px;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    
  
    height: 50px; }

#socials {

  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  background-color:  ;
  list-style: none;
  gap: 35px;
  background-color:  rgb(202, 199, 199);;
 



   
}


  
.copyright {

    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    background-color: (202, 199, 199);;
  
   
 
}



    



   

 


    


    







    